@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,800;1,400&display=swap');
.menu-bar{
    background-color: black;
    width:100%;
    height: 80px;
    text-align: center;
    font-family: 1rem;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
}
/* placing menus in a row */
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
    padding: 10px;
}
/* individual menus space */
.menu-bar ul li {
    width: 140px;
    padding: 5px;
}
/* removing link underline */
.menu-bar ul li a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
    margin-top: 10px;   
}
.menu-bar ul li a:hover{
    color: white;
    font-weight: 600;
}
/* when home is active */
.active .menu-bar ul li a:hover{
    background-color: rgba(138, 69, 69,0.5);
    border-radius: 3px;
}

 .menu-bar .fas :hover{
    cursor: pointer;
    color: rgb(0,0,0);
} 
.sub-menu-1 {
    display: none;
}
/* layout of submenu */
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: gray;
    text-align: center;
    margin-top: 10px;
    margin-left: -20px;
    border-radius: 15px;
    width: 200px;
}    
/* Displaying submenu from horizontal to block */
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
/* display card */
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0px;
    text-align: center;
} 
/* removing fr last element in card */
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: rgb(0,0,0);
}

.fa-angle-right{
    float: right;
    margin-top: 5px;
}
/* hover services */
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 160px;
    background: rgba(168, 83, 83,0.9);
    border-radius: 15px;
    
}

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

#highlight:hover {
	background-image: linear-gradient(#ffd900, #ffd900);
}
u:hover{
    text-decoration: none;
}
body{
    background-image: url("http://indianmythology.com/finish/images/bg.jpg");
    text-align: center;
    font-family: 'Alegreya', serif;
}
#audio{
    margin-left: 990px;
}
h5{
    font-size: 20px;
    margin-left: 990px;
    padding-top: 0%;
}
img{
    width: 500px;
    border-radius: 50px;
    border: 2px solid black;
}
img:hover{
    transform: scale(1.2);
    box-shadow:         -13px 1px 5px 0px rgba(50, 50, 50, 0.75);
    }
    h2{
        padding-bottom: 1%;
       font-size: 34px;
    }
    h1{
        font-size: 40px;
    }
p{
    font-size: 27px;
    color: #333;

}
    a{
        font-size: 20px;
    }

    #highlight {
        background-image: linear-gradient(#ffd900, #ffd900);
        background-repeat: no-repeat;
        background-position: 0% 100%;
        background-size: 100% 2px;
        transition: background-size .5s, background-position .3s ease-in .5s;
    }
    
    #highlight:hover {
        background-size: 100% 100%;
        background-position: 0% 0%;
        transition: background-position .5s, background-size .3s ease-in .5s;
    }